alabaster==0.7.6
appnope==0.1.0
argh==0.26.1
Babel==2.1.1
beautifulsoup4==4.4.0
blinker==1.4
click==5.1
cloudpickle==0.1.1
coil==1.3.8
decorator==4.0.4
docopt==0.6.2
docutils==0.12
doit==0.29.0
Flask==0.10.1
Flask-Bcrypt==0.6.2
Flask-Login==0.3.0
Flask-WTF==0.12
ghp-import==0.4.1
gnureadline==6.3.3
husl==4.0.2
ipykernel==4.0.3
ipyparallel==4.0.2
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.0.0
jupyter-core==4.0.6
Logbook==0.10.1
lxml==3.4.4
MacFSEvents==0.4
Mako==1.0.2
Markdown==2.6.2
MarkupSafe==0.23
micawber==0.3.3
mistune==0.7.1
mock==1.3.0
natsort==4.0.3
nbconvert==4.0.0
nbformat==4.0.0
Nikola==7.7.1
nose==1.3.7
notebook==4.0.5
numpydoc==0.5
passlib==1.6.5
path.py==8.1.1
pathtools==0.1.2
pbr==1.8.0
pexpect==3.3
phpserialize==1.3
pickleshare==0.5
Pillow==2.9.0
ptyprocess==0.5
py-bcrypt==0.4
pygal==2.0.1
Pygments==2.0.2
Pyphen==0.9.1
pyreadline==2.1
PyRSS2Gen==1.1
python-bcrypt==0.3.1
python-dateutil==2.4.2
pytz==2015.6
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.0.1
redis==2.10.3
requests==2.7.0
rq==0.5.5
simplegeneric==0.8.1
six==1.9.0
smartypants==1.8.6
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
terminado==0.5
testpath==0.2
tornado==4.2.1
traitlets==4.0.0
typogrify==2.0.7
Unidecode==0.4.18
uWSGI==2.0.11.1
watchdog==0.8.3
webassets==0.11.1
Werkzeug==0.10.4
ws4py==0.3.4
WTForms==2.0.2
Yapsy==1.11.223
